.login {
  height: 100vh;
  background-color: rgb(255, 190, 205);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background-image: linear-gradient(
          rgba(236, 74, 115, 0.5),
          rgba(236, 74, 115, 0.5)
        ),
        url("https://i.pinimg.com/564x/23/ae/ac/23aeacb30afc07e364d8e6d5473823b0.jpg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #d0246c;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #ef8ebe;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
      .reset {
        height: 30px;
        display: flex;
        border: none;
        padding: 3px 4px;
        background-color: #993355;
        color: white;
        border-radius: 20px;

        cursor: pointer;

        .resetBtn {
          border: none;
          margin: auto;
          color: white;
          font-size: 12px;
          background: none;
        }
      }
    }
  }
}
